{% extends 'base.html' %}

{% block title %}
    Edit profile page - {{ profile.user.username }}
{% endblock %}

{% block content %}
    {% if user.is_authenticated and user.id == profile.user_id %}
        <br>
        <div class="card card-outline-secondary">
            <div class="card-header">
                <h3 class="mb-0">Edit Profile Page</h3>
            </div>
            <div class="card-body">
                <form class="form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.media }}
                    {% if form.errors %}
                        {% for field in form %}
                            <ul>
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        <li>{{ error|escape }}</li>
                                    </div>
                                {% endfor %}
                            </ul>
                        {% endfor %}
                    {% endif %}
                    {% for field in form.visible_fields %}
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">{{ field.label|title }}</label>
                            <div class="col-lg-9">
                                {{ field.as_widget }}
                            </div>
                        </div>
                    {% endfor %}
                    <button class="btn btn-primary" type="submit">Edit Profile Page</button>
                </form>
            </div>
            <div class="card-footer pt-4">
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Edit Profile Settings</label>
                    <div class="col-lg-9">
                        <a class="btn btn-secondary" href="{% url 'edit-profile-settings' %}">Edit Profile Settings</a>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        You're not allowed here (and you know it...)
    {% endif %}
{% endblock %}